
.App {
 
  text-align: center;
  
  background: url(name.jpg) ;
  width: 100vw;
  height: 100vh;
  position: fixed;
}
h1 {
  color: rgba(245, 250, 243, 0.404);
}

.st0 {
  fill: none;
}
.st1 {
  fill: none;
  stroke: #ffffff;
  stroke-width: 2;
}
.st2 {
  font-family: "AmericanTypewriter";
}
.st3 {
  font-size: 3.7rem;
}

#title {
  height: 40vh;
  width: 100vw;
  margin-top: 5vh;

}

.Buttons {
  height: 20vh;
  margin-top: -15vh;
}
.Response {
  
  color:rgb(141, 35, 35);
  font-family: Comic Sans MS body copy;
}
.selectplayer .letter{
  display: inline-block;
  line-height: 1em;

}
.selectplayer {
  height: 20vh;
  margin-top: 1vh;
  font-family:"Corsiva";
 margin:50%;
  text-align: center;
  background-image: url(demo.jpg);
  width: 60vw;
  height: 85px;
  margin: 10px;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: bold;
  transform-style: preserve-3d transform translateZ(-25px)
  transition transform 0.3s;
  
}

.gameButton {
  font-family:"Corsiva";
  
  background-image: url(images.jpg);
  width: 40vw;
  height: 85px;
  margin: 50px;
  border: none;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: bold;
  transform-style: preserve-3d transform translateZ(-25px)
  transition transform 0.3s;
  
}

.gameButton:hover {
  background: transparent;
  color: white;
  font-style: italic;

}
.selectplayer:hover {
  background: transparent;
  color: white;
  font-style: italic;

}

.gameButton:active {
  border-style: none;
}

